/*  
	@Program name: Employee Rest API using ExpressJs (NodeJS)
	@Date: 05/12/2020
	@Author: Shailesh Fefar
	@File name: db.config
	@Licence Type: MIT License
*/
'use strict';
const mysql = require('mysql');
//local mysql db connection
const dbConn = mysql.createConnection({  
host     : 'localhost',  
user     : 'root',  
password : '',  
database : 'employeesrestapi'});
dbConn.connect(function(err)
{  
	if (err) 
		throw err;  
	console.log("Database Connected!");
});
module.exports = dbConn;